/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap');*/
:root {
  --primary-text-color: #0c77b9;
  --secondary-text-color: #00a546;
  --font: 'Helvetica Neue', 'Helvetica', 'Arial', 'Open Sans', 'Segoe UI', sans-serif;
}
*{
	padding: 0;
	margin: 0;
}
html,body{
	font-family: var(--font);
	background-color: #F6F6F6;
	color: #222;
	font-size: 15px;
	font-weight: 400;
}
.ff-light{
	font-family: var(--font);
	font-weight: 300;
}
.ff-helvetica, input, textarea, select, label, 
.uk-input, .uk-textarea, .uk-select, .uk-label{
	font-family: var(--font);
	font-weight: 400;
	font-size: 18px;
}
.ff-helvetica-bold{
	font-family: var(--font);
	font-weight: 700;
}
h1.uk-primary{
	letter-spacing: 1px;
}
.uk-background-ff{
	background-color: #fff;
}
.cc-container { margin-top: 20px}

.uk-link, a{ color: #25ab47 !important}

.uk-accordion-title{ width: 494px;
    margin: 0 auto; position: relative;}
.uk-accordion-title::before{  position: absolute;
    right: 6%; top: 50%;
  transform: translateY(-50%); color:#fff !important;
 background-image: url("../images/plus-white.png");
  }

.uk-open>.uk-accordion-title::before{     position: absolute;
    right: 6%; top: 50%;
  transform: translateY(-50%); color:#fff !important ;
 background-image: url("../images/minus-white.png");

}


.personal-bg{ background:url("../images/personal-loan.png") no-repeat center center;  width: 481px; height: 112px; margin: 0 auto;padding-top: 40px;box-sizing: border-box; color:#fff !important;padding-left: 40px;}

.employment-bg{ background:url("../images/employment.png") no-repeat center center;  width: 481px; height: 112px;margin: 0 auto;padding-top: 40px;box-sizing: border-box; color:#fff; padding-left: 40px; }

.identity-bg{ background:url("../images/identity.png") no-repeat center center; color: #fff; width: 481px; height: 112px; margin: 0 auto;padding-top: 40px;box-sizing: border-box;  padding-left: 40px; }



.uk-bg{ background-color: #dfdfdf; 
	display: inline-block; text-align: center;}
.uk-background-primary{
	background-color: var(--primary-text-color)!important;
}
.uk-background-lblue{
	background-color: #007fb5;
	color: #fff;
}
.uk-background-secondary{
	background-color: var(--secondary-text-color)!important;
}
.uk-background-3D{
	background-color: #3D3D3D;
}
.uk-background-ee{
background: rgb(246,246,246);
background: radial-gradient(circle, rgba(246,246,246,1) 32%, rgba(238,238,238,1) 59%, rgba(231,231,231,1) 85%, rgba(221,221,221,1) 100%);
}
.uk-background-f0{
	background-color: #F0F0F0;
}
.uk-background-f9{
	background-color: #f9f9f9;
}
.uk-primary{
	color: var(--primary-text-color)!important;
}
.uk-secondary{
	color: var(--secondary-text-color)!important;
}
/*.uk-br-med{
	border-radius: 0px;
}*/
.uk-text-red{
	color: red!important;
}
.uk-text-black{
	color: #000!important;
}
.uk-text-white{
	color: #fff!important;
}
.uk-text-2D{
	color: #2D2D2D!important;
}
.uk-text-31{
	color: #313131!important;
}
.uk-text-35{
	color: #353535!important;
}
.uk-text-67{
	color: #676767!important;
}
.uk-text-89{
	color: #898989!important;
}
.uk-text-55{
	color: #555!important;
}
.uk-border-secondary{
	border:1px solid var(--secondary-text-color);
}
.uk-border-default{
	border:1px solid #ccc;
}
.uk-border-top-dashed{
	border-top:1px dashed #ccc;
}
.uk-border-bottom-header{
	border-bottom: 1px solid #eee;
}
.uk-border-card{
	border-radius: 12px;
}
.fs-11{
	font-size: 11px;
}
.fs-12{
	font-size: 12px;
}
.fs-14{
	font-size: 14px;
}
.fs-15{
	font-size: 15px;
}
.fs-16{
	font-size: 16px;
}
.fs-16B{
	font-size: 26px;
}
.fs-18{
	font-size: 18px;
}
.fs-20{
	font-size: 20px;
}
.fs-22{
	font-size: 22px;
}

.fs-wht{
	color:#fff
}
.fs-26{
	font-size: 26px;
}
.fs-30{
	font-size: 30px;
}
.fs-32{
	font-size: 32px;
}
.fs-36{
	font-size: 36px;
}
.fs-45{
	font-size: 45px;
}
.uk-text-shadow{
	text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}
.uk-btn-green{
	color: var(--secondary-text-color);
	/*! border:2px solid var(--secondary-text-color); */
	background-color: transparent;
	letter-spacing: 0.5px;text-transform: uppercase;
	float: left;
	bottom: 15px;
	position: absolute;
	left:10px;
	background: url("../images/back.png") no-repeat 14px center;
	background-size: 12px auto
}

.uk-btn-apply{
	background-color: #29AB47;
	border:1px solid #29AB47;
}
.head_hr{
      height: 2px;background-color: #5cc0ea;border:none;width: 10%;margin: 0 auto;
}
.docs_img{
	height: auto!important;
}
.con-bott{ margin-bottom: 40px;}
 .uk-child-width-1-3\@l>* {
  width:calc(100% * 1 / 3.001);
  margin-bottom: 10px;
 }
.proceed{
	color: var(--secondary-text-color);
	 border:2px solid var(--secondary-text-color); 
	background-color: transparent;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	margin: 0 auto;
}
.uk-btn-green-bg{
	color: #fff;
	border:2px solid var(--secondary-text-color);
	background-color: var(--secondary-text-color);
	letter-spacing: 0.5px;
	text-transform: capitalize;
	border-radius: 20px;
}
.uk-btn-blue-bg{
	color: #fff;
	border:2px solid var(--primary-text-color);
	background-color: var(--primary-text-color);;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}
.uk-btn-width{
	width: 230px;
}
.p-logo{
	padding:12px 30px;
}
.p-card{
	padding:20px 30px;
}
.p-10{
	padding:6px;
}
.p-15{
	padding:15px;
	border-radius: 35px;
}
.p-25{
	padding:25px;
}
.bg_band{
	background: url('../images/band.svg') center top no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 10px;
}
.uk-modal-body .bg_band{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
header,.tabs_content{
	background: #FFF;
}
.logo{
	/*width: 165px;*/
}
.form_section{
    z-index: 1;
    right: 5%;
    top: 3.5%;
    box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.3);
    width: 40%;
    background: #fff;
    border-radius: 20px;
}
.form_section_2{
	top: 10%;
}
.form_bg{
	width: 80%;
}
.form_head{
	position: absolute;
	width: 100%;
	text-align: center;
	top:19px;
}
.form_slider ul li{
	padding:0 8%;
}
.uk-input,.uk-select,.uk-checkbox{
	border:1px solid var(--secondary-text-color)!important;
	color: #000!important;
}
.uk-select {
  background-image: url("../images/caret.png")!important;
  background-position: 97% 52%!important;
}
.form_slider .uk-form-width-input{
	width: 325px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000!important;
}
input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--secondary-text-color);
}
.tabs_head{
	background-color: #EAEAEA;
	cursor: pointer;
}
.tabs_head_active{
	background-color: #fff;border-top: 3px solid var(--primary-text-color);cursor: pointer;
}
.tabs_head_active h5{
	color:var(--primary-text-color)!important; 
}
.tabs_content .tabs_para , .aadhar_details , .passport_details , .license_details{
	display: none;
}
#para_1{display: block;}
.tabs_para img{
	width: auto;
	height: 65px;
}

.tabs_content_slider .uk-dotnav{
	justify-content: center;
}
.tabs_content_slider .uk-dotnav>*>*{
	border:1px solid transparent
}
.tabs_content_slider .uk-dotnav li {
    background: #d0d0d0;
    width: 8px;
    height: 8px;
    padding: 3px;
    border-radius: 20px;
    margin-right: 8px;
}
.tabs_content_slider .uk-dotnav>*>:focus,.tabs_content_slider .uk-dotnav>*>:hover{
	background-color: transparent
}
.tabs_content_slider .uk-dotnav .uk-active{
    background: #0775B1;
    padding: 3px;
    border-radius: 20px;
}
.tabs_content_slider .uk-dotnav>.uk-active>*{
	background-color: #0775B1;
}
/*Timeline and Progress Bar*/
.timeline{
  position: relative;
  overflow: auto;
  padding-left:2%;
  margin-bottom: 5px;
}

.timeline li{
  list-style: none;
  float: left;
  width: 24%;
  font-size: 18px;
  position: relative;
  text-align: center;
  color: #555;
}
.timeline.three-steps li{
  width: 33.3%;
}

.timeline li:before{
  content: "";
  width: 11px;
  height: 11px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 15px;
  margin: 0 auto 10px auto;
  background: #fff;
  color: #000;
  transition: all ease-in-out .3s;
  cursor: pointer;
  z-index: 2;
  position: relative;
}
.timeline li.active:before{
  border: 3px solid var(--secondary-text-color);

}
.timeline li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eee;
  top: 10px;
  left: -50%;
  z-index: 0;
  transition: all ease-in-out .3s;
  z-index: 1;
}

.timeline li:first-child:after{
  content: none;
}
.timeline li.active{
  color: var(--secondary-text-color);
  font-weight: bold;
}

.timeline li.active1{ color: #607a66;}


.timeline li.active1:before{ border: 3px solid #607a66 !important;background-color: #607a66!important;}

.timeline li.active:before{
  background: #fff;
  color: #F1F1F1;
  position: relative;
}

.timeline li.active1 + li:after{
  background: var(--secondary-text-color);
  z-index: 1;
}
.prev_item,.next_item{
	color: var(--secondary-text-color)!important;
	text-decoration: none!important;
}
.success-bar{
	top:8px;
	left: 0;
	z-index: 1;
	width: 100%;
}
.success-bar img{
	width: 14.2857%;
	height: 8px;
}
.success-bar img:not(:first-child){
	display: none;
}
.progress-bar-padding{
	padding: 0px 40px 15px 40px;
}
.uk-box-shadow-large { margin-bottom: 30px !important;}
/*view quote html*/
#slider , #slider2{
    float: left;
    clear: left;
    width:100%;
    height: 1px;
    background-color: #ccc;
}
#slider .ui-slider-range , #slider2 .ui-slider-range {
	background: var(--secondary-text-color); height: 2px;
}
#slider .ui-slider-handle ,#slider2 .ui-slider-handle {
	border-color: var(--secondary-text-color);
    background: var(--secondary-text-color);
    border-radius: 50%;
    outline: none;
    top:-8px;
    height: 14px;
    width: 14px;
}
.ui-slider-handle-wrapper .ui-widget.ui-widget-content{
	border:1px solid #aaa;
}
.ui-slider-handle-wrapper{
	top:-20px;
}
#custom-handle{
	width: 90px;
}
#custom-handle2{
	width: 45px;
}
#custom-handle,#custom-handle2{
	border: none;background: transparent;outline: none;
}
.ui-slider-handle-wrapper div{
	width: 110px;
}
.range_details span{
	position: absolute;
	bottom: -24px;
}
.range_details span:first-child{
	left:40px;
}
.range_details span:nth-child(2){
	left:45%;
}
.range_details span:last-child{
	right:40px;
}
.total_amt{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	z-index: 10;
	background: #fff;
}
.apply_btn{
	font-size: 2rem;
	padding: 10px 30px;
	/*border-radius: 16px;*/
	min-width: 300px;
}

/*apply-online html*/
.child_ht_match{
	min-height: 145px;
}
.child_ht_match h6{
	bottom: 0px;
	width: 100%;
	left: 0;
}
.apply_online .uk_form_wrapper{
	margin-top: 25px!important;
}
.apply_online .section_title{
	/*! padding:12px 32px; */
}
.uk_form_wrapper .fe_icon{
	position: relative;
	top: 6px;
}

.uk-text-bg { background: #fff; border-radius: 20px;}
.uk-text-center img{ border-radius: 10px; margin-bottom: 10px; }

/*credit card html*/
.cc_bg{
	/*width:100%;*/
}
.cc_head{
	top:12px;
	width: 100%;
}
.cc_info{
	list-style-image: url('../images/list-icon-1.png');
	list-style-position: outside;
	padding-left: 12px;
	color: #666 !important;
}
.card_slider{
	outline: none;
}
.card_slider_nav li a{
	border: 1px solid green!important;width: 12px;height: 12px;
}
.card_slider_nav li.uk-active a{
	border: 4px solid green!important;
}
.view_all{
	display: none;
}
.cc-header{
	width: 100px;
	margin-left: 15px;
	position: relative;
	/*bottom: 7px;*/
}
.cc_form_head{
	top:7px;
}
.timeline_cc li{
	width: 33.3333%;
}
.cc_child_ht_match{
	min-height: 190px;
}
.cc_child_ht_match .cc_read_more{
	bottom: 20px;width: 100%;left:0;
}

.cursor-pointer{
	cursor: pointer;
}

.form_slider{
	min-height: 240px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.form_slider_2{
	min-height: 220px;
}
.form-item{
  display: none;
  /*position:absolute;*/
  /*top: 10%;*/
  /*left: 0;*/
  /*right: 0;*/
  height: 100%;
  /*padding-left: 40px;*/
  box-sizing: border-box;
  color: #333;
  transition: 0.3s ease all;
  width: 96%;
}
.form-item.active{
  display: block;
}

.product-container{ display: inline-block; text-align: center}
.product-inn{ display: inline-block;}
.product{ position:relative; overflow: hidden;}
.bottom-btn{ width: 100%; position: absolute; bottom:0; left: 0; right: 0; display: inline-block; text-align: center;  height: 50px; background: rgb(238,238,238);
background: linear-gradient(90deg, rgba(238,238,238,1) 50%, rgba(46,170,76,1) 50%);}

.know-more{ font-size: 16px;  width: 49%; display:inline-block;     vertical-align: middle; padding: 15px 0 0 0; text-transform: uppercase;
    margin: 0;
  }
.apply {  font-size: 16px;  width: 49%; display:inline-block;  color:#fff; vertical-align: middle; padding: 15px 0 0 0;
    margin: 0; text-transform: uppercase;
  }
.apply a{ color:#fff !important;}

.banner_heading
 {
position: absolute;
top: 6%;
 left: 14%;
 padding: 30px;
font-weight: 500;
width: 37%;
 text-align: center;
}
.targetted_heading
 {
	position: absolute;
	top: 4%;
 	left: 2%;
 	padding: 30px;
	font-weight: 500;
	width: 100%;
}
.targetted_heading_top{
	top: 18%;
}
.brad{
	border-radius: 10px;
}
.brad .bg_band{
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}
.mt-25{
	margin-top: 25px;
}
.mt-40{
	margin-top: 40px;
}
.chat_btn{
	background: none;border:1px solid;position: relative;
    width: 226px;
}
.req_callback{
	float: right;right: 5px;left: auto;background: none;border:1px solid;position: relative;
    width: 226px;
}
.product .uk-panel,.targetted_heading .uk-panel{
	display: flex;
	align-items: center;
	padding-bottom: 45px;
}
.product .uk-panel .uk-panel-content{
	text-align: left;
}
.product .uk-panel img{
	float: left;
	margin-right: 10px;
	width: 150px;
}
.targetted_heading .uk-panel img{
	width: 200px;
	float: left;
	margin-right: 10px;
}
.targetted_heading .uk-panel .uk-panel-content{
	line-height: 2em;
	list-style-image: url('../images/icon.png');
	list-style-position: outside;
}
.card_wrapper{
	min-height: 645px;
}
.card_wrapper .btn-apply{
	position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
}
.faqs .uk-accordion-title{
	width: 100%;
}
.faqs .uk-accordion-title span{
	pointer-events: none;
}
.submit_fixed{
	bottom: 0;left: 0;width: 100%;
}

@media screen and (min-width: 769px){
	.hidden_on_desktop{
		display: none;
	}
	.pad-mod{
		padding-left: 0;
	}
	
}

@media screen and (min-width:1441px){
	.form_section {
		top:6.5%;
		width: 34%;
	}
	.form_section_2{
		top: 14%;
	}
	.targetted_heading{
		top:8%;
	}
	.targetted_heading_top{
		top:15%;
	}
	.targetted_heading .uk-panel img{
		width: 300px;
	}
	.uk-slideshow-items h2{
		font-size: 36px;
	}
	.banner_heading{
		/*top: 19%;*/
	}
}

@media screen and (min-width:1601px){
	.form_section {
		top:14%;
		width: 31%;
	}
	.uk-slideshow-items h2{
		font-size: 40px;
	}
	.form_section_2{
		top: 17%;
	}
	.targetted_heading_top{
		top:20%;
	}
	.targetted_heading p{
		font-size: 32px;
	}
	.targetted_heading .uk-panel-content li{
		font-size: 22px;
	}
	.targetted_heading .uk-panel .uk-panel-content{
		line-height: 2.9em;
	}
	.uk-slideshow-items{
		min-height: 600px!important;
	}
}

@media screen and (max-width: 767px){
	.form_slider .uk-form-width-input{
		width: 250px;
	}
	.targetted_heading{
		top: 4%;
		text-align: center;
		width: 100%;
		padding: 0;
		left: auto;
	}
	.targetted_heading p{
		margin: 0;
	}
	.targetted_heading .uk-panel{
		display: block;
		text-align: center;
	}
	.product .uk-panel img{
		width: 85px;
	}
	.targetted_heading .uk-panel img{
		margin-bottom: 10px;margin-top: 10px;width:130px;float: none;
	}
	.targetted_heading .uk-panel .uk-panel-content{
		text-align: left;
		line-height: 1.5em;
	}
	.tabs_content_slider ul li{
		width: 100%;
		margin-bottom: 20px;
	}
	
	.p-520{padding:5px 20px;}
	.px-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.fs-12-mobile{
		font-size: 12px;
	}
	.fs-14-mobile{
		font-size: 14px;
	}
	.fs-15-mobile{
		font-size: 15px;
	}
	.fs-16-mobile{
		font-size: 16px;
	}
	.fs-16B{
		font-size: 16px;
	}
	.fs-18-mobile{
		font-size: 18px;
	}
	.fs-20-mobile{
		font-size: 20px;
	}
	.fs-22-mobile{
		font-size: 22px;
	}
	.hidden_on_mobile{
		display: none;
	}
	.mt-10-mobile{
		margin-top: 10%;
	}
	.mt-3-mobile{
		margin-top: 3%;
	}
	.mt-40-mobile{
		margin-bottom:40px;
	}
	.mt-20-mobile{
		margin-top:20px;
	}
	.uk-slideshow-items{
		min-height: 250px!important;
	}
	.form_section{
		position: relative!important;
		left: 0;
		right: 0;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(107,107,107,1);
		-moz-box-shadow: 0px 0px 7px 0px rgba(107,107,107,1);
		box-shadow: 0px 0px 7px 0px rgba(107,107,107,1);
		width: 95%;
		margin:0 auto;
	}
	.cc.form_section{
		left: 0;
		right: 0;
	}
	.p-logo{
		padding: 11px;
	}
	.logo{
		width: 110px;
	}
	.form_head{
		top: 14px;
	}
	.form_bg{
		width: 100%;
	}
	.progress-bar-padding{
		padding:0 20px 15px 20px;
	}
	.success-bar img{
		height: 5px;
	}
	.success-bar{
		top:10px;
	}
	.uk-form-width-input{
		height: 36px;
	}
	.hr_scroll{
		display: flex;
	    width: 100%;
	    overflow-x: scroll;
	    white-space: nowrap;
	    align-items: center;
	}
	.hr_scroll .tabs_head{
		min-width: 200px;
	}
	input[type="radio"]:checked:before {
		background-color: transparent;
	}

	/*credit card*/
	.center-align{
		text-align: center!important;
	}
	.cc_form_head{
		top:5px;
	}
	.cc_child_ht_match{
		margin-bottom: 15px;
	}
	.banner_heading
 	{
 		left: 0%;
		width: 86%;
		padding-top: 0;
	}
	.ctas{
		text-align: center;
	}
	.req_callback,.chat_btn{
		float: none;left: auto;right: auto;margin-top: 5px;
	}
	.timeline li{
		font-size: 14px;
		width: 25%;
	}
}


	
@media screen and (width: 768px){
	.form_section{
		position: relative!important;
		left: 0;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(107,107,107,1);
		-moz-box-shadow: 0px 0px 7px 0px rgba(107,107,107,1);
		box-shadow: 0px 0px 7px 0px rgba(107,107,107,1);
		width: 95%;	
		margin:0 auto;
		margin-top: -22%;
	}
	.hidden_on_tab{
		display: none;
	}
	.mt-3-mobile{
		margin-top: 3%;
	}
	input[type="radio"]:checked:before {
		background-color: transparent;
	}
	.banner_heading{
 		width: 70%;
 		right: 0;
	    left: auto;
	    top: 0;
 	}
}

@media screen and (width: 1024px){
	.form_section{
		right: 2.5%;
		max-width:420px;
	}
	.form_section h2{
		font-size: 17px;
		top:6px;
	}
	.targetted_heading{
		top:0;
	}
	.targetted_heading .uk-panel img{
		width: 120px;margin-right: 10px!important;
	}
	.targetted_heading_top{
		top: 9%;
	}
	.targetted_heading .uk-panel .uk-panel-content{
		width: 36%;
	}
	.targetted_heading h2{
		font-size:30px;
	}
	.targetted_heading p{
		width: 50%;
	}
	.uk-slideshow-items{
		min-height: 400px!important;
	}
	.chat_btn,.req_callback,.uk-btn-width{
		width: 185px;
		padding:3px;
	}
}

@media only screen and (max-width: 600px) {
	
	.uk-accordion-title{ width: 300px }
	
	.personal-bg{ width: 300px;  height: 100px; background-size: 100% auto}
	.employment-bg{ width: 300px;  height: 100px; background-size: 100% auto}
	.identity-bg{ width: 300px;  height: 100px; background-size: 100% auto}
	.know-more{ font-size: 14px;}
	.apply{ font-size: 14px;}
	.uk-accordion-title h3{
		font-size: 13px;
		text-align: left!important;
	}
	.employment-bg,.personal-bg,.identity-bg{
		padding-left: 75px;
	}
	header h1.uk-primary{
		max-width: 200px;
		font-size: 12px;
	}
}

@media only screen and (width: 525px){
	.form_slider{ min-height: 200px; }

}
	