"<html>

<head>

</head>

<body onload="document.myform.submit()">

<form name="myform" method="post" action ="https://demo.perfios.com/KuberaVault/insights/start">

<input type="hidden" name = "payload" value="<payload><emailId></emailId><vendorId>scbPL</vendorId><loanType>business</loanType><loanAmount>12000</loanAmount><destination>netbankingFetch</destination><txnId>TestTxnId</txnId><apiVersion>2.1</apiVersion><loanDuration>6</loanDuration><yearMonthFrom>2020-01</yearMonthFrom><yearMonthTo>2020-07</yearMonthTo><returnUrl>http://imedia.iprospect.co/demo/lms/integrations/perfios/?id=%s</returnUrl><applicantName>ABCD</applicantName><employerName>XYZ.ltd</employerName><transactionCompleteCallbackUrl>https://www.webhook.com</transactionCompleteCallbackUrl></payload>"</br>

<input type="hidden" name = "signature" value=""/><br>

</body>

</html>"